<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="SoftFluent.SocialEmailLoginSection" type="SoftFluent.SocialEmailLogin.Configuration.SocialEmailLoginSection"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=./;database=SocialLogin_Demo;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <SoftFluent.SocialEmailLoginSection>
    <authentication providerNameComparison="OrdinalIgnoreCase" maximumRetryCount="10" retryInterval="50">
      <serviceProviders>
        <!-- https://developers.facebook.com/ -->
        <serviceProvider name="Facebook" consumerKey="XXX" consumerSecret="YYY"/>
        <!-- https://console.developers.google.com -->
        <serviceProvider name="Google" consumerKey="XXX.apps.googleusercontent.com" consumerSecret="YYY"/>
        <!-- https://account.live.com/developers/applications -->
        <serviceProvider name="Microsoft" consumerKey="XXX" consumerSecret="YYY"/>
        <!-- https://www.linkedin.com/developer/apps -->
        <serviceProvider name="LinkedIn" consumerKey="XXX" consumerSecret="YYY"/>
        <serviceProvider name="Yahoo" consumerKey="XXX" consumerSecret="YYY" userLocationStorageType="RedirectUri"/>
        <!-- https://apps.twitter.com/app/ -->
        <serviceProvider name="Twitter" consumerKey="XXX" consumerSecret="YYY"/>
        <!-- https://www.yammer.com/client_applications/ -->
        <serviceProvider name="Yammer" consumerKey="XXX" consumerSecret="YYY"/>
        <!-- https://apps.dev.microsoft.com/ -->
        <serviceProvider name="AzureAD" consumerKey="XXX" consumerSecret="YYY"/>
      </serviceProviders>
    </authentication>
  </SoftFluent.SocialEmailLoginSection>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Default.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordFormat="Clear" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <!--<httpHandlers>
      <add verb="*" path="*.auth" type="SoftFluent.SocialEmailLogin.Web.Callback.AuthCallbackHandler" />
    </httpHandlers>-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="SoftFluent.SocialEmailLogin" verb="*" path="*.auth" type="SoftFluent.SocialEmailLogin.Demo.AuthCallbackHandler"/>
    </handlers>
  </system.webServer>
</configuration>